<header>
  <div class="wrapper">
    {% assign default_paths = site.pages | map: "path" %}
    {% assign page_paths = site.header_pages | default: default_paths %}

    <div class="brand-container">
      <a href="{{ "/" | relative_url }}">
        {% include logo.html %}
        {{ site.title | escape }}
      </a> 
    </div>

  
    {% if page_paths %}
      <nav class="site-nav">
        {% for path in page_paths %}
          {% assign page = site.pages | where: "path", path | first %}
          {% if page.title %}
          <a href="{{ page.url | relative_url }}">{{ page.title | escape }}</a>
          {% endif %}
        {% endfor %}
        <a class="discord-button" href="#">Join us on Discord!</a>
      </nav>
    {% endif %}
  </div>
</header>
