footer {
  margin-top: 15px;
  // background: linear-gradient(to right, $gaymers-blue 0%, darken($gaymers-cyan, 15%) 100%);
  // color: #FFFFFF;

  .footer-content {
    width: 90%;
    max-width: 500px;
    margin: 15px auto;
  }

  p {
    margin: 0;
    text-align: center;
  }

  .text {
    background-image: linear-gradient(to bottom left, $gaymers-cyan 20%, $gaymers-blue 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
}