header {
  padding: 10px 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;

  .home-link {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    order: 1;
    text-decoration: none;

    @media (max-width: 500px) {
      order: 1;
    }
  }

  svg {
    width: 50px;
    height: 50px;
  }

  span {
    margin-left: 15px;
    font-size: 24px;
    font-weight: 700;
  }

  .discord-button {
    margin-left: auto;
    order: 2;

    @media (max-width: 500px) {
      margin-left: 0;
      order: 3;
    }
  }

  nav {
    flex-basis: 100%;
    order: 3;
    margin-top: 15px;
    margin-bottom: 15px;

    @media (max-width: 500px) {
      order: 2;
    }

    a {
      text-decoration: none;
      margin-right: 15px;

      @media (max-width: 500px) {
        display: block;
        margin-right: 0;
        margin-bottom: 15px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}