@charset "utf-8";

// Colors
$gaymers-red: #FB0646;
$gaymers-orange: #FF8235;
$gaymers-yellow: #FFF90E;
$gaymers-green: #00E438;
$gaymers-cyan: #12D2F9;
$gaymers-blue: #0B4CCC;
$gaymers-purple: #D912F9;

$discord-purple: #7289DA;
$discord-purple-dark: darken($discord-purple, 10%);

// Overlay Gradients
$overlay-gradient-red-purple: linear-gradient(to top, rgba($gaymers-red, .5) 0%, rgba($gaymers-purple, 0) 100%);
$overlay-gradient-blue-cyan: linear-gradient(to top, rgba($gaymers-blue, .5) 0%, rgba($gaymers-cyan, 0) 100%);
$overlay-gradient-orange-yellow: linear-gradient(to top, rgba($gaymers-orange, .5) 0%, rgba($gaymers-yellow, 0) 100%);

// Shadow Gradients
$shadow-gradient-red-purple: linear-gradient(to top, $gaymers-red 0%, $gaymers-purple 100%);
$shadow-gradient-blue-cyan: linear-gradient(to top, $gaymers-blue 0%, $gaymers-cyan 100%);
$shadow-gradient-orange-yellow: linear-gradient(to top, $gaymers-orange 0%, $gaymers-yellow 100%);


// Fonts
$gaymers-font: 'Open Sans', sans-serif;

// Base Styles
* {
  box-sizing: border-box;
}

html {
  font-family: $gaymers-font;
  color: #333333;
  background-color: #FFFFFF;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-flow: column;
  overflow-x: hidden;
}

.wrapper {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;

  @media (max-width: 930px) {
    width: 90%;
  }
}

h1,
h2,
h3
h4,
h5,
h6 {
  font-family: $gaymers-font;
}

a {
  color: $gaymers-cyan;
  transition: color ease-out 150ms;

  &:hover {
    color: $gaymers-blue;
  }
}

// Import partials.
@import
  "logo",
  "header",
  "footer",
  "home",
  "post"
;
