@charset "utf-8";

// Colors
$gaymers-red: #FB0646;
$gaymers-orange: #FF8235;
$gaymers-yellow: #FFF90E;
$gaymers-green: #00E438;
$gaymers-blue: #0B4CCC;
$gaymers-purple: #D912F9;

$gaymers-primary: $gaymers-blue;
$gaymers-primary-dark: darken($gaymers-blue, 10%);
$gaymers-primary-light: lighten($gaymers-blue, 10%);

$discord-purple: #7289DA;
$discord-purple-dark: darken($discord-purple, 10%);

// Fonts
$header-font: 'Nunito', sans-serif;
$body-font: 'Open Sans', sans-serif;

// Base Styles
* {
  box-sizing: border-box;
}

html {
  font-family: $body-font;
  color: #222222;
  background-color: #FFFFFF;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-flow: column;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $header-font;
  font-style: italic;
  font-weight: 600;
}

a {
  color: $gaymers-primary;
  transition: color ease-out 150ms;
}

a:hover {
  color: $gaymers-primary-dark;
}

// Import partials.
@import
  "layout",
  "posts",
  "events"
;
