@charset "utf-8";

// colors
$gaymers-primary: #0A1531;
$gaymers-primary-dark: #081025;
$gaymers-primary-light: #0E1F4A;

$gaymers-secondary: #FE054D;
$gaymers-secondary-dark: #d0013c;
$gaymers-secondary-light: #fe3971;

$discord-purple: #7289DA;
$discord-purple-dark: #4A67Cf;

// Fonts
$gaymers-font: 'Montserrat', sans-serif;

// Base styles
html {
  font-family: $gaymers-font;
  color: #222;
  background-color: #FFF;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

a {
  color: $gaymers-secondary;
  text-decoration: none;
  border-bottom: 1px solid $gaymers-secondary;
  transition: color ease-out 150ms, border-bottom ease-out 150ms;
}

a:hover {
  color: $gaymers-secondary-dark;
  border-bottom: 1px solid $gaymers-secondary-dark;
}

// Import partials.
// @import
//   "base",
//   "layout",
//   "syntax-highlighting"
// ;
